<% if @transaction %>
  <%= turbo_stream_from @transaction %>
  <div id="<%= dom_id(@transaction, :modal) %>" class="fixed inset-0 bg-black/50 flex items-center justify-center z-50">
    <%= render partial: "payments/status", locals: { transaction: @transaction, response: @response } %>
  </div>
<% else %>
  <div class="fixed inset-0 bg-black/50 flex items-center justify-center z-50">
    <%= render partial: "payments/status", locals: { transaction: nil, response: @response } %>
  </div>
<% end %>
